@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .description {
    @apply text-sm text-slate-600 overflow-hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
